# Data Science Tools and Ecosystem

### Introduction
---

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**
4. **Java**
5. **Scala**
6. **Julia**

Some of the commonly used libraries used by Data Scientists include:

1. **Pandas**
2. **NumPy**
3. **Matplotlib**
4. **Seaborn**
5. **scikit-learn**
6. **TensorFlow**
7. **Keras**
8. **NLTK (Natural Language Toolkit)**
9. **SciPy**
10. **PyTorch**

### Data Science Tools
---

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook          |
| RStudio                   |
| Apache Zeppelin           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integer

(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60
# It will also convert any minutes to hours

def mins2hrs():
    mins = float(input('Provide the minutes to convert in hours: '))
    hrs = mins/60.0

    return hrs

mins2hrs()

Provide the minutes to convert in hours:  200

3.3333333333333335

**Objective**

List of popular languages for Data Science (`unordered list`)

- Python
- R
- SQL
- Java
- Scala

## Author
---
Chihiro